# Data Science Tools and Ecosystem

In [8]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

1.Python
2.SQL 
3.Java

1. Pandas
2. Numpy
3. TensorFlow

|Data Science Tools|
____________________
|Python|
|Java|
|MongoDB|

|---|
| Data Science Tools |
|---|
|Python|
|Java|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This is a simple arithetic expression to multiply then add integers. 

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60 

round((200/6),2)

33.33

**Objectives**
- List popular languages for Data Science
- List development environment open source tools for Data Science 
- List commonly used libraries in Data Science

## Author 
Stephanie